{% include 'header.html' %}

<body>
    <section class="img_prv_layout">
        <div class="img_prv">
            <h2 style = "margin-left: 10px; margin-top: 10px;">시간표</h2>
            <div class="miso-post-list">
                <div class="post-wrap">
                    <ul class="post-list">
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="img_prv">
            <h2 style = "margin-left: 10px; margin-top: 10px;">자유게시판</h2>
            <div class="miso-post-list">
                <div class="post-wrap">
                    <ul class="post-list">
                        {% for post in posts %}
                        <li class="post-row">
                            <a href="{% url 'detail' post.id %}" class="ellipsis"  style = "margin-right: 10px;">
                                <span class="pull-right gray font-12">
                                    <span class="count orangered">
                                        [댓글{{ post.comment_set.all|length }}개]  [조회{{ post.hits }}]  </span>
                                    &nbsp;
                                    {% if post.created_string == False %}
                                    {{ post.date|date:'m월 d일' }}
                                    {% else %}
                                    {{ post.created_string }}
                                    {% endif %}
                                    </span>
                                <span class="wr-icon wr-new"></span> {{ post.title }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="img_prv">
            <h2 style = "margin-left: 10px; margin-top: 10px;">질문게시판</h2>
            <div class="miso-post-list">
                <div class="post-wrap">
                    <ul class="post-list">
                        {% for post in postsQ %}
                        <li class="post-row">
                            <a href="{% url 'detailQ' post.id %}" class="ellipsis"  style = "margin-right: 10px;">
                                <span class="pull-right gray font-12">
                                    <span class="count orangered">
                                        [댓글{{ post.comment_set.all|length }}개]  [조회{{ post.hits}}]  </span>
                                    &nbsp;
                                    {% if post.created_string == False %}
                                    {{ post.date|date:'m월 d일' }}
                                    {% else %}
                                    {{ post.created_string }}
                                    {% endif %}
                                    </span>
                                <span class="wr-icon wr-new"></span> [{{ post.titleQ }}]{{ post.title }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom_ad_layout">
        <!---광고-->
    </section>
</body>

</html>